*{
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    background-color: #f4e4ba;
}
.converter-box {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 8px 20px 30px rgba(0, 0, 0, 0.15);

}
.msg{
    margin: 20px 20px;
}
.btn{
    display: inline;
}

form select,button,input{
    width:100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
    padding-left: 0.4rem;
    height: 1.5rem;
    margin:10px 0px 10px 0px
}

.dropdown{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
 .from, .to {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; 
}

.select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    background-color: blue;
    color: white;
    height: 2rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: POINTER;
}
.msg{
    text-align: center;
}