*{
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px
    
}
.converter-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 8px 20px 30px rgba(0, 0, 0, 0.15);

}
.msg{
    margin: 20px 20px;
}
.btn{
    display: inline;
}
